<div id="pageMain" class="admin">

<div id="fullColumn">
  <div id="titleContent">
    <h2><%= @event.name %></h2>
  </div>
</div>

<div id="ltColumn">

  <%= form_for @event, :url => admin_event_path(@event) do |f| %>
    <%= render "admin/events/form", :event => @event, :f => f %>
  <% end %>

</div>

<div id="rtColumn">
</div>

<div class="clear"></div>

</div>