<div id="pageMain" class="admin">

<div id="fullColumn">
    <div id="titleContent">
        <h2>Admin Area</h2>
    </div>
</div>
<%= form_for @artist, :url => admin_artists_path  do |f| %>
	<ul>
	<li>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</li>
	<li>
		<button class="submitBtn" type="submit">
		    <span>Submit</span>
		</button>
	</li>
	</ul>
<%end%>

</div>