<div id="pageMain">

	<div id="titleContent">
      <h2>
        About ArtAround
      </h2>
      <div class="clear"></div>

    </div>
	<%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    
  <div id="ltColumn" class="about">

<div class="module">
  <p>
  ArtAround is a social documentary project mapping art outside around the world. We research and photograph street art and public art, working with an international community of art-lovers to build a free, accessible resource for finding and learning about art in public spaces.
  </p>

  <p>
  ArtAround is a 501(c)(3) non-profit organization fiscally sponsored by the <a href="http://grayarea.org/initiative/artaround-2/">Gray Area Foundation for the Arts.</a> You can help make ArtAround possible by donating today.
  </p>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">

    <input type="hidden" name="cmd" value="_s-xclick">

    <input type="hidden" name="hosted_button_id" value="XT4N4H5CXVQ76">

    <input style="width:150px!important; background:none; border:none; float:right;" type="image" src="http://sponsor.theartaround.us/wp-content/uploads/2016/07/PayPal-Donate-Button-PNG.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="5" height="5">

  </form>

  <div class="clear"></div>

  <h4>MISSION</h4>

  <p>
    Dedicated to the preservation of public art through documentation, ArtAround utilizes web and mobile applications to share knowledge and encourage interaction with art outside in communities all over the world. Harnessing the reach of user-submitted data, alongside comprehensive inquiry into the artworks, artists, and commissioners, ArtAround is both a resource and a tool for finding and sharing the art around you.
  </p>

  <p>
    We believe in the freedom of expression and we believe in sharing. We believe the art in our communities belongs to the people who see it everyday. Most of all, we believe a platform that enables anyone to find and share the art around them is something the internet needs.
  </p>

  <p>
    ArtAround aims to help people connect with accessible art everywhere by building open-source, open-data applications that anyone can contribute to, whether that’s through <a href="http://theartaround.us/new_art_photo">a photo of a new mural</a> or <a href="https://github.com/ArtAround">a line of code</a>. Want to collaborate? <a href="http://theartaround.us/contact">Get in touch</a>.
  </p>

  <h4>MADE IN THE BAY, BORN IN D.C.</h4>

  <p>
    ArtAround is based in the San Francisco Bay Area, but it was born in Washington, D.C. The idea was the brainchild of <a href="http://laurenellen.com/">Laurenellen McCann</a> who worked with the <a href="http://dcarts.dc.gov/">DC Commission for the Arts and Humanities</a> to make it a reality in 2010.
  </p>

  <p>
    Anna Bloom joined Laurenellen as Executive Director in 2011 to expand bring ArtAround to the Bay Area. As a Code for America fellow, Anna previously worked with the cities of Boston, San Francisco, Seattle, and Philadelphia to build mobile websites that let people discover art in those cities.
  </p>

  <p>
    In 2014, Anna handed the reins to <a href="http://whatlindseywrites.com/">Lindsey Davis</a>, an arts journalist who created <a href="http://wanderart.org/">WanderArt</a>, a research-based public art database. Lindsey spent two years photographing and researching art in San Francisco, and she brought WanderArt's editorial vision to the map through the <a href="http://blog.theartaround.us/post/148565166104/presentingdrumroll-pleasethe-artaround">ArtAround Catalog</a>. Now, ArtAround is both a community tool and a comprehensive resource for sharing and finding art in public spaces.
  </p>

  <h4>THE TEAM</h4>
  <dl>
    <dt>LINDSEY DAVIS</dt> <dd>Executive Director</dd>
    <dt>LAURA KOGLER</dt> <dd>Product & Tech Lead</dd>
    <dt>JOEL GARCIA</dt> <dd>Developer</dd>
  </dl>

  <div class="clear"></div>

  <h4>CREDITS</h4>
  <p>
    ArtAround’s identity and logo were designed <a href="https://www.behance.net/gallery/10720429/ArtAround-Identity">by Shawn Cheris</a>, Senior Design Manager at Adobe.
  </p>
  <p>
    The development of ArtAround’s iOS application was funded in part by Converse. 
  </p>
  <div class="clear"></div>
</div>

</div>

  <div id="rtColumn">
    <div class="video-container">
      <iframe width="420" height="315" padding-bottom="20px" src="//www.youtube.com/embed/g_Np_oYR1N4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="clear"></div>

</div>
