<div id="pageMain">

	<div id="titleContent">
      <h2>
        About ArtAround
      </h2>
      <div class="clear"></div>

    </div>
	<%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    
  <div id="ltColumn" class="about oneCol">

<div class="module">
   
<h4>
What is "ArtAround"?
</h4>

<p>ArtAround is an attempt at creating a comprehensive, living map of all public art in DC. Sort of like an “insideout museum.” We want to make it easier for you to connect with the wide range of rich, crazy, beautiful historically and personally significant works of art that lives just outside your front door -- and to help you learn more about them.</p>

<p>Not only can you use the ArtAround map to search by the type of art you're looking for (murals, statues, street art, museums, etc.) and where you are (or would like to explore), you can also discover current events and festivals, discover new artwork and public art venues, get a glimpse at the history of these pieces and places, and check out what other folks are interested in. </p>

<p>You can also play a role in keeping this insideout museum alive.</p>

<p>Don't just look at art: Comment on it. Share your stories and photos, ask artists questions, and update information about the works you find listed. If you're feeling ambitious, you can even help us add to the map: use the curate feature to share witty street art you find downtown or that odd gallery behind your house. Your contributions as a “community curator” to this budding project will help make even bigger contributions to the public archive of our common space...and if we’re lucky, we'll all learn to look around a bit more.</p>

<p>
<strong>Got questions? We probably have answers. Head over to our <a href="<%= faq_path %>">FAQ</a> for more. Or, <a href="<%= root_path %>">get started</a>.</strong>
</p>
</div>
	<p>ArtAround was (mostly) founded in 2010 as part of a public/private partnership with the <a href="http://dcarts.dc.gov/DC/DCARTS/">DC Commission for the Arts and Humanities</a> and the <a href="http://www.wdcep.com/">Washington DC Economic Partnership.</a></p>

</div>

  <div id="rtColumn"></div>
  <div class="clear"></div>

</div>