<div id="pageMain">

	<div id="titleContent">
      <h2>
        About ArtAround
      </h2>
      <div class="clear"></div>

    </div>
	<%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
    
  <div id="ltColumn" class="about">

<div class="module">
  <p>ArtAround is a budding social project to map art in Washington, D.C., San Francisco, Oakland, and around the country. It is a community and a non-profit organization.</p>

  <p>ArtAround is fiscally sponsored by the <a href=http://www.gaffta.org/>Gray Area Foundation for the Arts</a> and funded in part by Converse.</p>

  <h4>Things we believe</h4>

  <p>We believe in freedom of expression and we believe in sharing. We share what we know as well as what we do, whether that means sharing the details about a piece of art or sharing a line of code.</p>

  <p>ArtAround aims to help people connect with the art around them, by building open-source, open-data applications, and by using existing platforms, such as Instagram, Twitter, Facebook, and Tumblr.</p>

  <h4>Made in the Bay, Born in D.C.</h4>

  <p>ArtAround’s operations are headquartered in the San Francisco Bay Area, but it was born in Washington, D.C.</p>

  <p>The idea was the brainchild of Laurenellen McCann, a D.C. resident. She worked hand-in-hand with the <a href="http://dcarts.dc.gov/DC/DCARTS/">DC Commission for the Arts and Humanities</a> to make it a reality in 2010.</p>

  <p>Anna Bloom, now ArtAround's executive director, joined Laurenellen in 2011 to expand ArtAround beyond D.C. Anna previously worked with the cities of Boston, San Francisco, Seattle, and Philadelphia to build mobile websites that let people discover art in those cities.</p>

  <p>Anna Bloom joined Laurenellen as ArtAround's Executive Director in 2011 to expand
  ArtAround beyond D.C. As a Code for America fellow, Anna previously worked with the
  cities of Boston, San Francisco, Seattle, and Philadelphia to build mobile websites that
  let people discover art in those cities.
  </p>

  <p>In 2014, Anna handed the reigns to Lindsey Davis, a fine arts writer developing an
  information-based public art database called WanderArt. Starting in 2013, Lindsey spent
  two years photographing and researching art in the Bay Area, and she's bringing
  WanderArt's editorial vision with her through the <a href="http://blog.theartaround.us">ArtAround Catalog</a>.
  </p>

  <h4>The Crew</h4>
  <dl>
    <dt>Anna Bloom</dt> <dd>Executive Director</dd>
    <dt>Laura Kogler</dt> <dd>Product & Tech Lead</dd>
    <dt>Alexis Arnold</dt> <dd>Artist & Gallery Liason</dd>
    <dt>Laura Kerry</dt> <dd>Social Media Manager & Writer</dd>
    <dt>Angela Kilduff</dt> <dd>Brand & Content Strategist</dd>
    <dt>Star St. Germain</dt> <dd>Designer and Developer</dd>
    <dt>Blake Hall</dt> <dd>Developer</dd>
    <dt>Brian Singer</dt> <dd>Developer</dd>
  </dl>
  <div class="clear"></div>
</div>

</div>

  <div id="rtColumn">
    <div class="video-container">
      <iframe width="420" height="315" padding-bottom="20px" src="//www.youtube.com/embed/g_Np_oYR1N4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="clear"></div>

</div>
