<div id="pageMain">

  <div id="ltColumn">
    <h2>art around</h2>
    
<p>
What is "art around"?
</p>

<p>
It's a statement! It's a verb! It's a public resource for public art!
</p>

<p>
Are you looking for art in your neighborhood? Do you want to know more about that statue downtown or artists local to your area? Maybe you're just visiting DC for the first time and wish you knew more about the museums and galleries we have available.  
</p>

<p>
Look for no further. art around is a comprehensive map of all art in DC -- and it's curated by you. That means, not only can you search by the type of art you're looking for (murals, statues, guerrilla art, museums, etc.) and where you are (or would like to explore), you can also play a role in keeping this insideout museum alive. 
</p>

<p>
So, don't just look at art: comment on it. Share your stories, ask artists questions, and update information about the works you find listed. If you're feeling ambitious, you can even help us add to the map: use the curate feature to share witty graffiti you find downtown or that odd gallery behind your house. Your contributions to this budding project, funded in part by the DC Commission for the Arts and Humanities, will help make even bigger contributions to the public archive of our common space...and if we’re lucky, we'll all learn to look around a bit more. 
</p>

<p>
Got questions? We probably have answers. Head over to our FAQ for more. Or, get started.
</p>
    
  </div>

  <div id="rtColumn"></div>
  <div class="clear"></div>

</div>