<div id="ltColumn">
  <h2>Contact Us</h2>
  <form id="contactForm" action="." method="get">
    <ul>
      <li>
        <label>Name</label>
        <input id="id_name" type="text" name="name"/>
      </li>
      <li>
        <label>Email</label>
        <input id="id_email" type="text" name="email"/>
      </li>
      <li>
        <label>URL</label>
        <input id="id_url" type="text" name="url"/>
      </li>
      <li>
        <label>Comment</label>
        <textarea id="id_comment" name="text"></textarea>
      </li>
      <li>
        <button class="submitBtn" type="submit">
            <span>Submit</span>
        </button>
      </li>   
    </ul> 
  </form>
</div>

<div id="rtColumn"></div>