<div id="pageMain">
    <div id="titleContent">
      <h2>
        FAQ
      </h2>
      <div class="clear"></div>

    </div>

  <div id="ltColumn" class="faq oneCol">
  	
	<ul>
		<li><a href="#faq1">So, what exactly does “ArtAround" mean?</a></li>
		<li><a href="#faq2">Why can I only search artwork in DC?</a></li>
		<li><a href="#faq3">What does it mean when something is labeled "Unknown"?</a></li>
		<li><a href="#faq4">On the individual pages for art and museums, what does "art description" mean?</a></li>
		<li><a href="#faq5">Can I ask a question or leave a comment about any artwork or creative space?</a></li>
		<li><a href="#faq6">I'm an artist. Can I map my own art?</a></li>
		<li><a href="#faq7">I'm an artist and people are commenting on my art. Can I respond?</a></li>
		<li><a href="#faq8">I'm an artist and I'm offended by the comments people are leaving on my art. What can I do?</a></li>
		<li><a href="#faq9">What can I add to the map?</a></li>
		<li><a href="#faq10">Can I map graffiti?</a></li>
		<li><a href="#faq12">I can really map anything?</a></li>
		<li><a href="#faq13">I own a gallery/creative space, but it's not open to the public. Can I map it?</a></li>
		<li><a href="#faq14">I own a gallery/creative space that charges a fee for the public to enter. Can I map it?</a></li>
		<li><a href="#faq15">If I map something, will you take it down?</a></li>
		<li><a href="#faq16">What's the deal with photos?</a></li>
		<li><a href="#faq17">Don't see your question answered here?</a></li>
		<li><a href="#faq18">What can I add to the map?</a></li>
		
	</ul>

	<h4 id="faq1">So, what exactly does “ArtAround" mean?</h4>
	<p>ArtAround, like the site itself, can be whatever you'd like it to be. If you want to just peruse the ArtAround you, then you're free to do so. Use the filters on the left side of the map to adjust for what you're looking for and where you're looking.</p>

	<p>If you'd like to be more active, go out and be a community curator! "Mess around" with ArtAround. Upload your photos, post your comments or questions about the artwork and venues you find, or bring new works and creative spaces to light by mapping them.</p>

	<h4 id="faq2">Why can I only search artwork in DC?</h4>
	<p>Because you haven't mapped it yet.</p>

	<p>ArtAround is based in DC because that's where the site's founders are located. We decided to map our community to show you what you could do with yours. If you want to make the public art in your community accessible to everyone, get in touch with us. We'd love to help you get started.</p>

	<h4 id="faq3">What does it mean when something is labeled "Unknown"?</h4>
	<p>When something is labeled "Unknown" it means we need your help to know it! Unknowns indicate that information about the work of art or creative space is incomplete. If you know the answers we seek, click over to the artwork or creative space's individual page to help update the information using our "edit" feature. Voila! After a moderator vets your input, your info will appear on the page to help educate the rest of us.</p>

	<h4 id="faq4">On the individual pages for art and museums, what does "art description" mean?</h4>
	<p>The description is where you get to put in some neat (factual) perspective on the art. Maybe you know a personal detail about the artist and something special that occurred while they were painting or pasting the artwork, or maybe you have a historical tidbit you'd like to share about that fountain downtown. Whatever it is, so long as it's factual, it goes here. (Opinions are for the comment section.)</p>

	<h4 id="faq5">Can I ask a question or leave a comment about any artwork or creative space?</h4>
	<p>Yes, yes, a thousand times yes. We firmly support any and all conversations about art. Please NOTE however that we do adhere to a "no jerk" policy for our comments. That is, if you are belligerent or obscene in a jerky way, your comment will be censored. (We reserve the right to define "jerky.") When you post, please, please remember that you are posting in public and that your comments are directed at real people who have worked long hours on their art. You are totally free to be honest, but freedom comes with responsibility. Just FYI.</p>

	<h4 id="faq6">I'm an artist. Can I map my own art?</h4>
	<p>Of course! We encourage artists to point out where their work is located, though we ask that you post locations that are actually accessible to the public. Please don't map your house if you don't have some sort of gallery or public access to your work there.</p>

	<h4 id="faq7">I'm an artist and people are commenting on my art. Can I respond?</h4>
	<p>Absolutely! We encourage you to jump into conversations, whether or not people are asking questions about your work. Please note that our "no jerky comments" applies to everyone who comments on the ArtAround message board, whether you're an artist or not.

	<h4 id="faq8">I'm an artist and I'm offended by the comments people are leaving on my art. What can I do?</h4>
	<p>Sorry, but because we open our comments up to the public, people are going to express their opinions and not all of them will be nice. We ask that people adhere to our "no jerk" policy, but we will only moderate comments that are obscene or belligerent. If you find that people are commenting on your artwork or asking questions, get excited! You've created something that people are engaging with. Do your viewers a favor and respond to them. Don't be afraid to explain your choices or answer any questions that appear. We want everyone (artists, appreciators, others) to feel comfortable exploring artistic conversation.</p>

	<h4 id="faq9">What can I add to the map?</h4>
	<p>You are free to map any piece of art that strikes you and can be considered public. "Publicness" means that anyone can go to visit the artwork, even if they have to pay a price to see it. This includes, but is not limited to, historic statues, monuments and memorials, murals, street art, architectural wonders, galleries, art markets, and museums. Want to make an argument to add another category of art or creative space? <a href="http://theartaround.us/contact">Hit us up.</a></p>

	<h4 id="faq10">Can I map graffiti?</h4>
	<p>Yes, though you'll notice that we don't have a specific category for "graffiti" or street art. We decided that rather than give into the stereotypes about graffiti, we'd like you to think more about the art that you're looking at. Graffiti art can include murals, paintings, pastes, and other media. Although we understand that some graffiti is an illegal violation of property, not all not all street art is illegal or indicates territoriality or violence. So, to celebrate the graffiti art that is thought provoking and beautiful, we want you to have the option to map or not map works you find in the wild.</p>

	<h4 id="faq11">I can really map anything?</h4>
	<p>Yes, you can really map anything. Well, almost anything. We ask that you stay with ArtAround's mission and only map public artwork or creative spaces, but the definitions of these two things are flexible.</p>

	<h4 id="faq12">I own a gallery/creative space, but it's not open to the public. Can I map it?</h4>
	<p>If you're not willing to open your space to the public, we ask that you first reconsider your decision to keep your work closed. If you're still not willing to invite visitors or members of the community into your space, then you probably shouldn't map it. ArtAround is explicitly a public resource for public art. Although "public" doesn't exclude those private spaces (galleries, museums, etc.) that charge a fee to let people into their collections, the word "public" does exclude those private spaces that are completely and entirely private. (Thus, although I hang art in my home, because I don't let random people enter -- even if they pay me -- I'm not going to map its location.)</p>

	<h4 id="faq13">I own a gallery/creative space that charges a fee for the public to enter. Can I map it?</h4>
	<p>Yes, you may. For a fuller explanation, see above.</p>
	
	<h4 id="faq14">If I map something, will you take it down?</h4>
	<p>We will only "unmap" points if (1) you've mapped something unrelated to art, (2) you add a point for something gross or obscene that you've posted in a jerky way (remember: we reserve the right to define "jerky"), or (3) if the community reports that the art has been taken down.</p>

	<h4 id="faq15">What's the deal with photos?</h4>
	<p>All photos will be licensed with a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial</a> license and tagged appropriately. This licensing was chosen so that ArtAround could truly be a project of the public commons -- part of an international movement to connect the online world with the history of the world offline. Your photographic contributions to this archive paint a beautiful world with a rich, artistic history, something we want to share with everyone.</p>

<h4 id="faq16">Don't see your question answered here? <a href="<%= contact_path %>">Contact us</a>.</h4>
    
  </div>

  <div id="rtColumn"></div>
  <div class="clear"></div>

</div>