<div id="pageMain">
    <div id="titleContent">
      <h2>
        FAQ
      </h2>
      <div class="clear"></div>

    </div>

  <div id="ltColumn" class="faq oneCol">

  <h3>DATABASE SPECIFICS</h3>

  <ul>
    <li><a href="#faq1">So, what exactly is the ArtAround Catalog?</a></li>
    <li><a href="#faq2">What’s up with the new pin colors?</a></li>
    <li><a href="#faq3">What does it mean when something is labeled "Unknown"?</a></li>
    <li><a href="#faq4">On the individual pages for art and museums, what does "art description" mean?</a></li>
    <li><a href="#faq5">What's the deal with photos?</a></li>
  </ul>

  <h3>COMMUNITY QUERIES</h3>

  <ul>
    <li><a href="#faq6">Can I ask a question or leave a comment about any artwork or creative space?</a></li>
    <li><a href="#faq7">I'm an artist. Can I map my own art?</a></li>
    <li><a href="#faq8">I'm an artist and people are commenting on my art. Can I respond?</a></li>
    <li><a href="#faq9">I'm an artist and I'm offended by the comments people are leaving on my art. What can I do?</a></li>
  </ul>

  <h3>WHAT'S ON THE MAP</h3>

  <ul>
    <li><a href="#faq10">What can I add to the map?</a></li>
    <li><a href="#faq11">Can I map graffiti?</a></li>
    <li><a href="#faq12">I can really map anything?</a></li>
    <li><a href="#faq13">I own a gallery/creative space, but it's not open to the public. Can I map it?</a></li>
    <li><a href="#faq14">I own a gallery/creative space that charges a fee for the public to enter. Can I map it?</a></li>
    <li><a href="#faq15">If I map something, will you take it down?</a></li>
  </ul>

  <ul>
    <li><a href="#faq16">Don't see your question answered here?</a></li>
  </ul>

  <h3>DATABASE SPECIFICS</h3>

  <h4 id="faq1">So, what exactly is the ArtAround Catalog?</h4>

  <p>The ArtAround Catalog consists of all artworks with a verified location. There are two ways an artwork joins the Catalog: (1) three or more community members upload corresponding photos from the same location or (2) ArtAround’s editorial team documents the artwork with extensive photographs and GIFs.</p> 

  <p>Once a verified artwork has been uploaded, it’s researched by the ArtAround team and given a light blue pin on the map. Whenever you see a light blue pin, you can expect to find all the information available on the web about that artwork in the ArtAround database.</p>

  <p>The Catalog lets us become more than a tool for a community of passionate art seekers. Now, we’re harnessing the power of that community to become a growing resource for finding and learning about art in public spaces (think Wikipedia-meets-Foursquare).</p>

  <h4 id="faq2">What’s up with the new pin colors?</h4>

  <p>In 2016 we added new pin colors to the map to give our community more immediate information about the artworks those pins represent.</p> 

  <p><b>Yellow</b> pins represent street art hot spots: walls and alleys that are constantly repainted, so you know there’s always something new to see. <b>Gray</b> pins are the artchive: a collection of public artworks that have been removed or painted over, but still speak to the character of the community they once belonged to. <b>Navy</b> pins represent art inside—this includes galleries and museums as well as individual artworks inside them. <b>Light blue</b> pins are the documented, researched works in the ArtAround Catalog (see above for more), and <b>red</b> pins are artworks uploaded by community members like you.</p>

  <h4 id="faq3">What does it mean when something is labeled "Unknown"?</h4>

  <p>When something is labeled "Unknown" it means we need your help to know it! Unknowns indicate that information about the work of art or creative space is incomplete. If you know the answer, click over to the artwork's individual page to help update the information using our "edit" feature. After the ArtAround team vets your input, voila! Your info will appear on the page to help educate the rest of us.</p>

  <h4 id="faq4">On the individual pages for art and museums, what does "art description" mean?</h4>

  <p>The description is where you get to put in some neat (factual) perspectives on the art. Maybe you know a personal detail about the artist, something special that occurred while they were painting or pasting the artwork, or maybe you have a historical tidbit you'd like to share about that fountain downtown. Whatever it is, so long as it's factual, it goes here. (Opinions are for the comment section.)</p>

  <h4 id="faq5">What's the deal with photos?</h4>

  <p>All photos uploaded are licensed with a <a href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank">Creative Commons Attribution-NonCommercial</a> license. This licensing was specifically chosen so that ArtAround could truly be a project of the public commons—part of an international movement to connect the online world with the history of the world offline.</p> 

  <p>Your photographic contributions to this living database paint a beautiful world with a rich, artistic history, and that’s something we want to share with everyone.</p>

  <h3>COMMUNITY QUERIES</h3>

  <h4 id="faq6">Can I ask a question or leave a comment about any artwork or creative space?</h4>

  <p>Yes, yes, a thousand times yes. We firmly support any and all conversations about art. Please note however that we do adhere to a "no jerk" policy for our comments. That is, if you are belligerent or obscene in a jerky way, your comment will be censored. (We reserve the right to define "jerky.") When you post, please, please remember that you are posting in public and that your comments are directed at real people who have worked long hours on their art. You are totally free to be honest, but freedom comes with responsibility.</p>

  <h4 id="faq7">I'm an artist. Can I map my own art?</h4>

  <p>Of course! We encourage artists to point out where their work is located, though we ask that you only post locations that are accessible to the public. Please don't map your house if you don't have some sort of gallery or public access to your work there.</p>

  <h4 id="faq8">I'm an artist and people are commenting on my art. Can I respond?</h4>

  <p>Absolutely! We encourage you to jump into conversations, whether or not people are asking questions about your work. Please note that our "no jerky comments" applies to everyone who comments on ArtAround.</p>

  <h4 id="faq9">I'm an artist and I'm offended by the comments people are leaving on my art. What can I do?</h4>

  <p>Sorry, but because we open our comments up to the public, people are going to express their opinions and not all of them will be nice. We ask that people adhere to our "no jerk" policy, but we will only remove comments that are obscene or belligerent. If you find that people are commenting on your artwork or asking questions, get excited! You've created something that people are engaging with. Do your viewers a favor and respond to them. Don't be afraid to explain your choices or answer any questions that appear. We want everyone, artists and appreciators alike, to feel comfortable exploring artistic conversation.</p>

  <h3>WHAT'S ON THE MAP?</h3>

  <h4 id="faq10">What can I add to the map?</h4>

  <p>You are free to map any piece of art that strikes you and can be considered public. "Publicness" means that anyone can go visit the artwork, even if they have to pay a price to see it. This includes, but is not limited to, historic statues, monuments and memorials, murals, street art, architectural wonders, galleries, art markets, and museums. Want to make an argument to add another category of art or creative space? <a href="http://theartaround.us/contact">We’re all ears.</a></p>

  <h4 id="faq11">Can I map graffiti?</h4>

  <p>Absolutely. We believe that showcasing awesome graffiti helps elevate the conversation around street art in general. Rather than give into stereotypes about graffiti, we'd like you to think more about the art that you're looking at. Graffiti can include murals, paintings, pastes, and other media. Although we understand that some graffiti is an illegal violation of property, not all street art is illegal or indicates territoriality or violence. So, to celebrate the graffiti that is thought-provoking and beautiful, we want you to have the option to map or not map works you find in the wild.</p>

  <h4 id="faq12">I can really map anything?</h4>

  <p>Yes, you can really map anything. Well, almost anything. We ask that you stay within ArtAround's mission and only map public artwork or creative spaces, but the definitions of these two things are flexible. They can include architecture, experimental installations, stickers—any expression of creativity that’s accessible to the public.</p>

  <h4 id="faq13">I own a gallery/creative space, but it's not open to the public. Can I map it?</h4>

  <p>If you're not willing to open your space to the public, we ask that you reconsider your decision to keep your work closed. If you're still not willing to invite visitors or members of the community into your space, then you probably shouldn't map it. <b>ArtAround is explicitly a public resource for public art.</b></p>

  <p>Although "public" doesn't exclude those private spaces (galleries, museums, etc.) that charge a fee to let people into their collections, the word "public" does exclude those private spaces that don’t have regular open hours. (For example, I might hang art in my home, but because I don't let random people enter—even if they pay me—its location doesn’t belong on ArtAround.)</p>

  <h4 id="faq14">I own a gallery/creative space that charges a fee for the public to enter. Can I map it?</h4>

  <p>Yes, you may. For a fuller explanation, see above.</p>

  <h4 id="faq15">If I map something, will you take it down?</h4>

  <p>We will only "unmap" pins if (1) you've mapped something unrelated to art, (2) you add a point for something gross or obscene that you've posted in a jerky way (remember: we reserve the right to define "jerky"), or (3) if the artwork you posted isn’t available to the public.</p>

  <p>Formerly, artworks that were reported by the community as taken down or painted over were also removed, but in 2016 the artchive was born. Now, removed artworks are added to the artchive—marked by gray pins on the map—so that ArtAround can continue growing as documentary resource for art in public spaces.</p>


  <h4 id="faq16">Don't see your question answered here? <a href="<%= contact_path %>">Contact us</a>.</h4>

  </div>

  <div id="rtColumn"></div>
  <div class="clear"></div>

</div>
