Index page is here

<div id="footerWrapper">
  <div id="footer">
    <h3>Recent Additions</h3>
    <ul>
      <% recent_art.each_with_index do |art, i| %>
        <li class="artwork<%= i + 1 %>">
          <a href="<%= art_path art %>" id="art-thumbnail-<%= art.slug %>"></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>