<% content_for :body_class, "home" %>

<% content_for :head do %>

  <!--  SCRIPT BEGINS -->           
  <script type="text/javascript">
    var markerGroups = { "Mural":[], "Gallery":[],  "Museum":[], "Statue":[], "Memorial":[], "Monument":[], "Sculpture":[], "Mosaic":[], "Pasted":[], "Painting":[] };

    var markerGroups2 = { " ":[], "Adams Morgan":[], "American University Park":[], "Anacostia":[], "Arboretum":[], "Barnaby Woods":[], "Barney Circle":[], "Barry Farm":[], "Bellevue":[], "Chinatown":[], "Columbia Heights":[], "Congress Heights":[], "Deanwood":[], "Downtown":[], "Dupont Circle":[], "East Potomac Park":[], "Edgewood":[], "Foggy Bottom":[], "Fort Davis":[], "Foxhall":[], "Georgetown":[], "H Street Corridor":[], "Hillcrest":[], "Judiciary Square":[], "Kalorama":[], "Logan Circle":[], "Mount Pleasant":[], "Mount Vernon Square":[], "Navy Yard":[], "Penn Quarter":[], "Petworth":[], "Shaw":[], "Shepherd Park":[], "Silver Spring":[], "Southwest":[],  "Takoma":[],  "Trinidad":[],  "U Street":[],  "Union Station":[],  "Washington Highlands":[],  "Washington Mall":[],  "Woodley Park":[]  };
  </script>
<% end %>

<% content_for :header do %>
  <div id="featureBox">
    <div id="mainText">
      <h2>Discover the art around us</h2>
      <span>find and map the graffiti you love to the mural we missed</span>
    </div>
    <div id="curateBox">
      <span>Know of some art around you?</span>
      <a class="buttonLink" id="curateButton" href="<%= new_art_path %>">Curate it now!</a>
    </div>  
  </div>
<% end %>

<% content_for :bottom do %>

  <div id="mapContainer">
    <form id="filterForm" action="." method="get">
      <fieldset>
        <legend>Category</legend>
        <a class="hideCategory" href="#">Hide</a>
        <a class="showCategory" href="#">Show</a>
        <div class="clear"></div>
        <ul id="categoryScroll">
          <li>
            <label><input class="checkbox" type="checkbox" name="word"  onclick="toggleGroup('Mural')" />Mural</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word"  onclick="toggleGroup('Gallery') " />Gallery</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup('Museum')"  />Museum</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup('Statue')"  />Statue</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup('Memorial')"  />Memorial</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup('Sculpture')"  />Sculpture</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup('Mosaic')"  />Mosaic</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup('Painting')"  />Painting</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup('Monument')"  />Monument</label>
          </li>

        </ul> 
      </fieldset>
      <fieldset>
        <legend>Neighborhood</legend>
        <a class="hideNeighborhood" href="#">Hide</a>
        <a class="showNeighborhood" href="#">Show</a>
        <div class="clear"></div>
        <ul id="neighborhoodScroll">
          <li>
            <label><input class="checkbox" type="checkbox" name="word" onclick="toggleGroup2('Adams Morgan')" />Adams Morgan</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" />American University Park</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" />Anacostia</label>
          </li>
          <li>
            <label><input class="checkbox" type="checkbox" name="word" />Arboretum</label>
          </li>
        </ul>
      </fieldset>
    </form>
    <div id="map_canvas"></div>
  </div>  

<% end %>