<div id="pageMain" class="admin">

  <div id="fullColumn">
    <div id="titleContent">
      <h2>Admin Area</h2>
    </div>
  </div>

  <div id="ltColumn">
    <h3>Cities list</h3>
    <ul>
      <% @cities.each do |city| %>
        <li>
          <%= link_to city.name, admin_city_path(city) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="rtColumn">
    <h3>
      Ctiy (<%= link_to 'New', new_admin_city_path %>)
    </h3>
  </div>
</div>