<div id="pageMain" class="admin">

<div id="fullColumn">
    <div id="titleContent">
        <h2>Admin Area</h2>
    </div>
</div>
<%= link_to "Delete this city" ,admin_trash_city_path(@city)%>
<%= form_for @city, :url => admin_city_path(@city) do |f| %>
	<ul>
	<li>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</li>
	<li>
		<button class="submitBtn" type="submit">
		    <span>Submit</span>
		</button>
	</li>
	</ul>
<%end%>

</div>