<div id="filter-options" style="float: left;">
	<ul id="filters">
	  <li><a href="#" data-filter="*">show all</a></li>
	  <li><a href="#" data-filter=".architecture">Architecture</a></li>
	  <li><a href="#" data-filter=".digital">Digital</a></li>
	  <li><a href="#" data-filter=".drawing">Drawing
	  <li><a href="#" data-filter=".gallery">Gallery</a></li>
	  <li><a href="#" data-filter=".graffiti">Graffiti</a></li>
	  <li><a href="#" data-filter=".installation">Installation</a></li>
	  <li><a href="#" data-filter=".interactive">Interactive</a></li>
	  <li><a href="#" data-filter=".kinetic">Kinetic</a></li>
	  <li><a href="#" data-filter=".lighting">Lighting Installation</a></li>
	  <li><a href="#" data-filter=".market">Market</a></li>
	  <li><a href="#" data-filter=".memorial">Memorial</a></li>
	  <li><a href="#" data-filter=".mixed">Mixed</a></li>
	  <li><a href="#" data-filter=".mosaic">Mosaic</a></li>
	  <li><a href="#" data-filter=".mural">Mural</a></li>
	  <li><a href="#" data-filter=".museum">Museum</a></li>
	  <li><a href="#" data-filter=".painting">Painting</a></li>
	  <li><a href="#" data-filter=".performance">Performance</a></li>
	  <li><a href="#" data-filter=".paste">Paste</a></li>
	  <li><a href="#" data-filter=".photograph">Photograph</a></li>
	  <li><a href="#" data-filter=".print">Print</a></li>
	  <li><a href="#" data-filter=".projection">Projection</a></li>
	  <li><a href="#" data-filter=".sculpture">Sculpture</a></li>
	  <li><a href="#" data-filter=".statue">Statue</a></li>
	  <li><a href="#" data-filter=".stained">Stained Glass</a></li>
	  <li><a href="#" data-filter=".temporary">Temporary</a></li>
	  <li><a href="#" data-filter=".textile">Textile</a></li>
	  <li><a href="#" data-filter=".video">Video</a></li>
	  
	</ul>
</div>

<div id="art-list" >
  <% @arts.each do |art| %>
    <% unless art.photos.empty? %>
      <div class="art <%= art.category.map{|x| x.downcase}.join(' ') %>">
        <img src="<%= art.primary_photo.image :big %>"/>
        <h3><%= link_to art.title, art %></h3>
        <h4><%= known(art.artist) %></h4>
      </div>
    <% end %>
  <% end %>

</div>
