<div class="addthis_toolbox addthis_default_style">
	<span class='st_facebook' displayText='Facebook'></span>
	<span class='st_twitter' displayText='Tweet'></span>
	<span class='st_pinterest' displayText='Pinterest'></span>
	<span class='st_googleplus' displayText='Google +1'></span>
</div>