<div class="share_toolbox">
	<span id='share_facebook' displayText='Facebook'></span>
	<span id='share_twitter' displayText='Tweet'></span>
	<span id='share_pinterest' displayText='Pinterest'></span>
	<span id='share_googleplus' displayText='Google +1'></span>
</div>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    // required by ShareThis
    stLight.options({publisher: "ur-53501c6d-3b37-ee4f-e4d7-c71039306e67"});

    // customization for ArtAround
    function wireButton(service, thumb) {
        var elem = $("#share_" + service);
        var details = {
             service: service,
             element: elem.get(0),
             title: "<%= art.title %>",
             text: "sadhfakjdshfaksd",
             type: "chicklet",
             url: "<%= art_url art %>" // probably unnecessary
        };
        
        if (thumb) details.image = thumb;

        stWidget.addEntry(details);
    }

    Flickr.getThumbnail(<%= art.primary_photo.flickr_id %>, "Medium", function(thumbnail) {
        var thumb = thumbnail ? thumbnail.source : null;
        wireButton("facebook", thumb);
        wireButton("twitter"); // thumbnail not needed
        wireButton("pinterest", thumb);
        wireButton("googleplus", thumb);
    });
</script>

<script>
         // stWidget.addEntry({
         //         "service":"sharethis",
         //         "element":$('#share_facebook').get(0),
         //         "url":"http://sharethis.com",
         //         "title":"sharethis",
         //         // "type":"large",
         //         "text":"ShareThis" ,
         //         "image":"http://www.softicons.com/download/internet-icons/social-superheros-icons-by-iconshock/png/256/sharethis_hulk.png"
         //         // "summary":"this is description1"
         // });
</script>